<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStudentService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9005/StudentService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IStudentService" contract="StudentService.IStudentService"
                name="WSHttpBinding_IStudentService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAJwaHJYPbAN9XoSG5gCMM/qKrcFggAAAAAQAAAC4CAAAwggIqMIIBl6ADAgECAhBRK+KWye/4hE326lewmoQlMAkGBSsOAwIdBQAwITEfMB0GA1UEAxMWcHQ0LmFjdGl2ZWxlYXJuaW5nLmNvbTAeFw0xMzEyMzExNjAwMDBaFw0yMzEyMzExNjAwMDBaMCExHzAdBgNVBAMTFnB0NC5hY3RpdmVsZWFybmluZy5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBANGR+SdCa7Iu4AbYhtIYsX0Ve2mj/i+70cGJ1KVGZbEUFHMTY/c/Ob/Y0X4W+5O/5nlI4uuIsDSIbypZA9tGKqxav5ap2jO/1YkBXGzwGOgUrOq/lP4EGse3GCTHxxpasahSo3BqmsxN43yLfV2XWY2GA4AKVQKpuA9u0bvf+JrpAgMBAAGjazBpMBMGA1UdJQQMMAoGCCsGAQUFBwMBMFIGA1UdAQRLMEmAEOfUbQ791mSH/eqiW2WPipmhIzAhMR8wHQYDVQQDExZwdDQuYWN0aXZlbGVhcm5pbmcuY29tghBRK+KWye/4hE326lewmoQlMAkGBSsOAwIdBQADgYEAjCFSI7omN/wOj5Gft6DGWlCXk2wa3oohFqtcFYpN+IIJRL0AZCrskDp7WwbEvh4FbFSBJY5wi1WmZNHwEr3kI5m3nf6mrrjbg+uDNKKnHAp1sbHMWRwDO+Cj6gdI0cApuKj0y3610HAqR+2PxxrODFpysXh04SdxcaDXsTVgumw=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>