<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Active_Learning_Group4" connectionString="metadata=res://*/ActiveLearningModel.csdl|res://*/ActiveLearningModel.ssdl|res://*/ActiveLearningModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Active_Learning_Group4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Active_Learning_Group4" connectionString="metadata=res://*/ActiveLearningModel.csdl|res://*/ActiveLearningModel.ssdl|res://*/ActiveLearningModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SDSAPCHENGHAO\MSSQLSERVER2014;initial catalog=Active_Learning_Group4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StudentServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="pt4.activelearning.com" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"  />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ActiveLearning.Services.StudentService, ActiveLearning.Services" />
            <clientCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="StudentServiceBinding">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>