@{
    ViewBag.Title = "Watch Video";
}

<h2>Watch Video</h2>
<div style="margin-top:50px;vertical-align:central;text-align:center">

    <video width="800" height="600" controls autoplay="autoplay">
        <source src="@ViewBag.VideoPath" type="video/mp4">
    </video>

</div>


