
@{
    ViewBag.Title = "Student Home Page";
}

@Html.Partial("_MessageBoxPartial")

<br/>
<div class="jumbotron" style="margin-top:10%">
    <h1>Welcome !</h1>
    <br />
    <p class="lead">Go to My Course to start Chat and Quiz</p>
    <br />
    <p>@Html.ActionLink("My Course", "CourseList", "student",new { @class="btn btn-primary btn-lg"})</p>
</div>

